.mw5-ns {
  background: rgba(255, 255, 255, 30%);
  border-radius: 10px;
}

.cf {
  text-align: left;
}

h1.f1 {
  /* h1.f1 is redundant, since the title gets placed twice by the template. */
  display: none;
}
